<div>
</div>
<div class="divBuscador">
    <mat-form-field class="buscador" appearance="fill">
        <mat-label>{{searchText}}</mat-label>
        <input matInput #input class="textobuscador" type="text" [(ngModel)]="Limpiar" (keyup)="getValue(input.value)">
        <button class="buttonSearch" *ngIf="Limpiar" matSuffix mat-icon-button aria-label="Clear" (click)="Limpiar=''">
        <mat-icon>close</mat-icon>
        </button> 
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getPeliculas()">
    <mat-icon>search</mat-icon>
    </button>
</div>
<div class="example-listbox-container">
    <label class="example-listbox-label" id="listbox-label">
        Listado de Películas
    </label>
    <ul cdkListbox
        aria-labelledby="listbox-label"
        class="example-listbox">
        <li *ngFor="let titulo of titulosPeliculas"
            [cdkOption]="titulo"
             class="example-option">
            {{titulo}}
        </li>
    </ul>
</div>

